@font-face {
    font-family: 'TTLakes-Medium';
    src: url("./fonts/TTLakes-Medium.ttf");
  }
  
  @font-face {
    font-family: 'TTLakes-Black';
    src: url("./fonts/TTLakes-Black.ttf");
  }
  
  @font-face {
    font-family: 'TTLakes-Bold';
    src: url("./fonts/TTLakes-Bold.ttf");
  }
  
*,
::before,
::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    font-family: 'TTLakes-Medium';
    background-color: #f2f2f2;
    min-height: 100vh;
}

.header {
    background-color: #fff;
    padding: 19px 0;
}

.header-container {
    background-color: #fff;
    padding: 0 16px;
}

.container {
    background-color: #f8f8f8;
    padding: 0 16px;
}

.header-panel {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-grid-column-align: center;
        justify-self: center;
}

.buttons-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.button-burger {
    background-image: url(./assets/img/burger.svg);
    margin-right: 16px;
}

.divider-logo {
    width: 2px;
    height: 32px;
    vertical-align: super;
    background-color: #eaeaea;
    margin-left: 16px;
}

.button-phone {
    background-image: url(./assets/img/call.svg);
    display: none;
}

.button-message {
    background-image: url(./assets/img/chat.svg);
    display: none;
}

.button-profile {
    background-image: url(./assets/img/profile.svg);
    display: none;
}

.button-repair {
    background-image: url(./assets/img/repair.svg);
    margin-right: 16px;
}

.button-checkstatus {
    background-image: url(./assets/img/checkstatus.svg);
}

.services__title {
    font-family: 'TTLakes-Bold';
    font-size: 28px;
    color: #1b1c21;
    padding-top: 24px;
    padding-left: 0;
}

.services__title::before {
    content: "";
    position: absolute;
    display: block;
    background-color: #41f6d7;
    width: 8px;
    border-radius: 4px;
    height: 36px;
    left: 0;
    -webkit-transform: translate(-4px);
        -ms-transform: translate(-4px);
            transform: translate(-4px);
}

.services__navigation {
    display: none;
}

.slider__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    overflow: auto;
    position: relative;
    margin: 24px 0;
}

.slider__list::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.slider__list::after {
    display: block;
    content: "";
    position: fixed;
    width: 80px;
    height: 40px;
    right: 15px;
    background: -webkit-gradient(linear, left top, right top, from(transparent), to(#f8f8f8));
    background: -o-linear-gradient(left, transparent, #f8f8f8);
    background: linear-gradient(90deg, transparent, #f8f8f8);
}

.slider__item {
    color: #7e7e82;
    border: 2px solid transparent;
    font-size: 16px;
    display: inline-block;
    padding: 8px 16px;
    white-space: nowrap;
    cursor: pointer;
}

.slider__link {
    color: #7e7e82;
    text-decoration: none;
}

.slider__item--active:active {
    background-color: #fff;
    border: 2px solid #b8ffec;
    border-radius: 6px;
}

.slider__item--highlited {
    margin-right: 0;
    color: #58585b;
    background-color: #fff;
    border: 2px solid #b8ffec;
    border-radius: 6px;
}

.text__paragraph {
    display: block;
    font-size: 14px;
}

.read-more {
    display: inline-block;
    margin: 16px 0;
}

.read-more__button {
    border: none;
    background: transparent;
    cursor: pointer;
}

.read-more__link {
    text-decoration: none;
    font-size: 16px;
    color: #1b1c21;
    font-weight: 600;
}

.read-more__button::before {
    content: "";
    display: inline-block;
    vertical-align: text-bottom;
    background: url(./assets/img/readMore.svg) no-repeat center;
    width: 24px;
    height: 24px;
    position: relative;
    top: 4px;
}

.services__image {
    width: 100vw;
    margin-left: -16px;
}

@media (min-width: 768px) {

.header-container {
    padding: 0 24px;
    -ms-grid-column-align: center;
        justify-self: center;
}

.container {
    padding: 0 24px;
}

.divider-burger {
    width: 2px;
    height: 32px;
    vertical-align: super;
    background-color: #eaeaea;
    margin-left: 4px;
    margin-right: 16px;
}

.divider-logo {
    display: none;
}

.button-phone, 
.button-profile, 
.button-message {
    display: inline-block;
    margin-right: 16px;
}

.divider-profile {
    display: inline-block;
    vertical-align: super;
    width: 2px;
    height: 32px;
    background-color: #eaeaea;
    margin-left: 6px;
    margin-top: 4px;
}

.button-repair {
    display: inline-block;
    margin-left: 24px;
}

.services__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
}

.text__description {
    margin-right: 48px;
}

.services__image {
    margin-left: 0;
    height: 208px;
    border-radius: 6px;
}

}

@media (min-width: 1120px) {

.header {
    display: none;
}

.container {
    margin: 0 auto;
}

.services__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-top: 24px;
}

.services__navigation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.services__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;  
    background: transparent;
    border: none;
    margin-left: 32px;
    font-size: 16px;
    font-family: 'TTLakes-Medium';
    cursor: pointer;
}

.button-label {
    margin-right: 9px;
}

.button-repair {
    margin: 0;
}

.slider__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.slider__list::after {
    display: none;
}

.text__description {
    margin-right: 36px;
}

.services__image {
    height: 384px;
}

}